:root {
  --shadow-color: 240deg 27% 76%;
  --shadow-elevation-low:
    0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.16),
    0.8px 0.7px 1.3px -1px hsl(var(--shadow-color) / 0.19),
    1.6px 1.5px 2.6px -2px hsl(var(--shadow-color) / 0.22);
  --shadow-elevation-medium:
    0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.17),
    1.5px 1.5px 2.5px -0.7px hsl(var(--shadow-color) / 0.19),
    3.4px 3.3px 5.7px -1.3px hsl(var(--shadow-color) / 0.21),
    7.9px 7.7px 13.2px -2px hsl(var(--shadow-color) / 0.23);
  --shadow-elevation-high:
    0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.16),
    2.2px 2.1px 3.6px -0.3px hsl(var(--shadow-color) / 0.17),
    3.9px 3.7px 6.5px -0.6px hsl(var(--shadow-color) / 0.18),
    6px 5.8px 10px -0.9px hsl(var(--shadow-color) / 0.19),
    9.2px 8.9px 15.4px -1.1px hsl(var(--shadow-color) / 0.2),
    13.8px 13.4px 23.1px -1.4px hsl(var(--shadow-color) / 0.21),
    20.5px 19.8px 34.2px -1.7px hsl(var(--shadow-color) / 0.22),
    29.8px 28.8px 49.7px -2px hsl(var(--shadow-color) / 0.23);
    
  --font-default:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

* {
  font-family: var(--font-default);
}
.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow .sidebar {
    width: 5%;
    max-width: 250px;
  }

  
}

/* Node Styling */
.react-flow__node {
  width: 150px;
  box-sizing: border-box;
  height:100px;
  font-size: 12px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: var(--shadow-elevation-high);
}
.react-flow__node label {
  border: none;
  border-radius: 5px;
  height: 20px;
  padding: 0 .2rem;
  resize: none;
  line-height: 20px;
  font-size:x-small;
}

.react-flow__node textarea {
  border: none;
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
  height: 100%;
  padding: 0 .2rem;
  resize: none;
  align-self: self-start;
  font-size: smaller;
}

.react-flow__node-system {
  border: solid 1px #1a192b;
}
.react-flow__node-system textarea {
  border-top: solid 1px #1a192b;
}
.react-flow__node-user {
  border: solid 1px #0041d0;
}
.react-flow__node-user textarea {
  border-top: solid 1px #0041d0;
}
.react-flow__node-assistant {
  border: solid 1px #ff0072;
}
.react-flow__node-assistant textarea {
  border-top: solid 1px #ff0072;
}

.node {
  display: grid;
  height: 100%;
  grid-template-rows: 20px 1fr;
}
.chat-window {
  width: 25%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #eee;
}

/* Message Styling */
.message-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.message-role {
  font-weight: 300;
}


.message-send-button {
  margin-top: auto;
  background-color: #fff;
  border: 1px solid #1a192b;
  border-radius: 5px;
  cursor: pointer;
}

/* Save Controller */
.save__controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
}

.save__controls button {
  margin-left: 5px;
}

.react-flow__resize-control.line {
  border-style: none;
}
.react-flow__resize-control.handle {
  width: 5px;
  height: 5px;
  border-radius: 1px;
  background: none;
  border: none;
  transform: translate(-50%, -50%);
}
